<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <shopping>Loading...</shopping>
    <div id="device-lg" class="visible-lg"></div>
    <div id="device-md" class="visible-md"></div>
    <div id="device-sm" class="visible-sm"></div>
    <div id="device-xs" class="visible-xs"></div>
    <script src="~/js/runtime.bundle.js"></script>
    <script src="~/js/vendors.bundle.js"></script>
    <script src="~/js/app~vendor.bundle.js"></script>
    <script src="~/js/vendor.bundle.js"></script>
    <script src="~/js/app.bundle.js"></script>
    <script src="~/js/styles.bundle.js"></script>
</body>
</html>