body {
    background-color: #f6f5f5;
}

.top5 {
    margin-top: 5px;
}

.product-item {
    border: 1px solid #f8f8f8;
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

    .product-item .title {
        color: #383f76;
        width: 95%;
    }

        .product-item .title a {
            text-decoration: none;
        }

    .product-item .description {
        margin-top: 10px;
        font-weight: bold;
    }

        .product-item .description a {
            text-decoration: none;
            color: #000000;
        }

.login-link {
    text-decoration:none;
    color:#14819C;
}
